<?xml version="1.0"?>
<model>
  <name>x500_custom_2</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Valerian Gregoire--Begranger</name>
    <email>valerian.greg@gmail.com</email>
  </author>
  <description>Customized version of the PX4 x500 model for my portfolio made with a forward and down facing camera as well as an optical flow sensor.</description>
</model>
